<div *ngIf="guitar">
  <h2>Guitar details</h2>
  <div><span>Id: </span>{{ guitar.id }}</div>

  <div>
    <label>
      Type:
      <input [(ngModel)]="guitar.type" placeholder="type" />
    </label>
    <label>
      Brand:
      <input [(ngModel)]="guitar.brand" placeholder="brand" />
    </label>
    <label>
      Prod year:
      <input [(ngModel)]="guitar.prodYear" placeholder="production year" />
    </label>
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
