table,
th,
td {
  border: 1px solid lightgray;
}

th,
td {
  padding: 5px 25px;
}

input {
  margin-bottom: 20px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.data {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.container {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}
